<!DOCTYPE HTML>
<htlm>
    <head>
        <title>springboot webservice_1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstarp/4.3.1/css/bootstrap.min.css">

    </head>
</htlm>